{% extends _layout %}
{% block content_header %}
    <h1>
        Tours Category
        <small>form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Tours Category</li>
    </ol>
{% endblock %}
{% block content %}
    {{ message is defined and message is not empty ? message : '' }}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="box">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tours_category_name">Name</label>
                            <input type="text" class="form-control alphanumeric" id="tours_category_name" name="tours_category_name" placeholder="Enter tours Category Name" value="{{ category is defined ? category.name : '' }}">
                        </div>
                        <div class="form-group">
                            <label for="tours_category_status">Status</label>
                            <select class="form-control" id="tours_category_status" name="tours_category_status">
                                <option value="parent">Parent</option>
                                <option value="child">Chlid</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tours_category_name">Description</label>
                            <input type="text" class="form-control" id="tours_category_description" name="tours_category_description" placeholder="Enter tours Category Description" value="{{ category is defined ? category.description : '' }}">
                        </div>   
                        <div class="form-group">
                            <label for="tours_category_name">Description Summary</label>
                            <input type="text" class="form-control" id="tours_category_description_summary" name="tours_category_description_summary" placeholder="Enter tours Category Description" value="{{ category is defined ? category.description_summary : '' }}">
                        </div>
                    </div>
                    <div class="box-footer">
                        <a href="{{ generate_url('admin_tours_categories') }}" class="btn btn-warning"><i class="fa fa-chevron-left"></i> Back</a>
                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block bottom_resource %}
    {{parent()}}
    <script>
    </script>
{% endblock %}