{% extends _layout %}
{% block content %}
<header id="home" data-stellar-background-ratio="0.3" data-height="330" data-type="parallax" data-background="{{ asset('img/',true)}}header-mini.jpg"
  data-background-mobile="{{ asset('img/',true)}}header-mini.jpg" class="ct-mediaSection custom">
  <div class="ct-breadcrumbs">
    <ul class="list-inline list-unstyled text-uppercase">
      <li>
        <a href="{{ base_url() }}">
          <i class="fa fa-home"></i>
        </a>
        <i class="fa fa-angle-right"></i>Tentang Kami</li>
    </ul>
  </div>
</header>
<section class="ct-u-paddingTop60 ct-u-paddingBottom50">
  <div class="container about-us">
    <div class="ct-infoBox ct-u-marginBottom70">
      <div class="ct-infoBox-image">
        <img src="{{ asset('img/',true)}}logo-tawwa.png" alt="image">
      </div>
      <div class="ct-infoBox-description">
        <h3 class="ct-infoBox-title">{{history[0].title}}!</h3>
        <p>{{history[0].description}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}