{% extends _layout %}
{% block content_header %}
    <h1>
        Gallery
        <small>list of all gallery</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Gallery</li>
    </ol>
{% endblock %}
{% block content %}
    {{ message }}
    <div class="box">
        <div class="box-header">
            <a href="{{ generate_url('admin_gallery_form') }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New Gallery</a>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hovered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Caption</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gallery in galleries %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ gallery.caption }}</td>
                                <td>
                                    <center>
                                    {% set img_gallery_temp = explode(',',gallery.img) %} 
                                    {% if gallery.img is not empty %}
                                        {% for img_gallery in img_gallery_temp %}
                                                <img src="{{ asset('img/gallery/' ~ img_gallery ,true) }}" style="width:50px">
                                        {% endfor %}
                                        {% else %}
                                            <img src="{{ asset('img/gallery/default.png',true) }}" style="width:50px">
                                    {% endif %}
                                    </center>
                                <td>
                                    <a href="{{ generate_url('admin_gallery_form') }}?mode=edit&id={{gallery.id}}" class="btn btn-sm btn-warning" style="margin-left:5px;">edit</a> 
                                    <a href="{{ generate_url('admin_gallery_delete',{id:gallery.id}) }}" class="btn btn-sm btn-danger btn-confirm" style="margin-left:5px;">delete</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4"><div class="alert alert-danger">No Data</div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_resource %}
    {{parent()}}
    <script>
    </script>
{% endblock %}