{% extends _layout %}
{% block content_header %}
    <h1>
        About Us - Counter
        <small>form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">About Us - Counter</li>
    </ol>
{% endblock %}
{% block content %}
    {{ message is defined and message is not empty ? message : '' }}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="box">
                    <div class="box-body">
                        <div class="input_fields_wrap">
                            <div class="box-footer">
                                <button id="add_field_button" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> Add Counter</button>
                            </div>
                            {% for counter in company_counter %}
                            <div class="newinput{{loop.index}}">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <label for="counter_title">Title</label>
                                        <input type="text" class="form-control col-xs-5" id="counter_title" name="counter_title[]" placeholder="title" value="{{ counter is defined ? counter.name : '' }}">
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="counter_qty">QTY</label>
                                        <input type="text" class="form-control col-xs-5" id="counter_qty" name="counter_qty[]" placeholder="qty" value="{{ counter is defined ? counter.total : '' }}">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="about_description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <button id="remove_field" class="btn btn-danger pull-right"><i class="fa fa-arrows-alt"></i> Delete</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block bottom_resource %}
    {{parent()}}
    <script>
        $(document).ready(function() {
            var wrapper         = $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $("#add_field_button"); //Add button ID
            
            var x = {{ company_counter|length }}; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                x++; //text box increment
                $(wrapper).append('<div class="newinput'+x+'"><div class="form-group"><div class="col-xs-5"><label for="counter_title">Title</label><input type="text" class="form-control col-xs-5" id="counter_title" name="counter_title[]" placeholder="title" value="{{ counter is defined ? counter.name : '' }}"></div><div class="col-xs-4"><label for="counter_qty">QTY</label><input type="text" class="form-control col-xs-5" id="counter_qty" name="counter_qty[]" placeholder="qty" value="{{ counter is defined ? counter.total : '' }}"></div><div class="col-xs-3"><label for="about_description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><button id="remove_field" class="btn btn-danger pull-right"><i class="fa fa-arrows-alt"></i> Delete</button></div></div></div>'); //add input box
            });
            
            $(wrapper).on("click","#remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(".newinput"+x).remove(); x--;
            })
        });
    </script>
{% endblock %}